gib-esu-paket/Esu_GIB_Paket_V3/esuRapor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xerces="http://xerces.apache.org"
	xmlns:xades="http://uri.etsi.org/01903/v1.3.2#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	xmlns:earsiv="http://earsiv.efatura.gov.tr" targetNamespace="http://earsiv.efatura.gov.tr"
	xmlns:xades141="http://uri.etsi.org/01903/v1.4.1#" elementFormDefault="qualified"
	attributeFormDefault="unqualified" xmlns:ns1="http://zraporu.efatura.gov.tr">
	<xs:import namespace="http://uri.etsi.org/01903/v1.3.2#" schemaLocation="XAdES.xsd"/>
	<xs:import namespace="http://uri.etsi.org/01903/v1.4.1#" schemaLocation="XAdESv141.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
		schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:element name="eArsivRaporu">
		<xs:annotation>
			<xs:documentation>eArsiv Rapor Bilgileri.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="baslik" type="earsiv:baslikType" maxOccurs="1" minOccurs="1"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element maxOccurs="unbounded" minOccurs="0" name="esuRapor"
						type="earsiv:esuRaporType"/>
					<xs:element name="esuAnlikRapor" type="earsiv:esuAnlikRaporType" minOccurs="0" maxOccurs="1"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="esuRaporNo">
			<xs:selector xpath="earsiv:esuRapor"/>
			<xs:field xpath="earsiv:raporNo"/>
		</xs:unique>
	</xs:element>
	<xs:complexType name="baslikType">
		<xs:sequence>
			<xs:element name="versiyon" type="xs:string"/>
			<xs:element name="mukellef" type="earsiv:vknTcknType"/>
			<xs:element name="hazirlayan" type="earsiv:vknTcknType"/>
			<xs:element name="raporNo" type="earsiv:uuidType"/>
			<xs:element name="donemBaslangicTarihi" type="xs:date"/>
			<xs:element name="donemBitisTarihi" type="xs:date"/>
			<xs:element name="bolumBaslangicTarihi" type="xs:date"/>
			<xs:element name="bolumBitisTarihi" type="xs:date"/>
			<xs:element name="bolumNo" type="xs:int"/>
			<xs:element ref="ds:Signature"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="vknType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d\d\d\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tcknType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d\d\d\d\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idType">
		<xs:restriction base="xs:string">
			<xs:length value="16"/>
			<xs:pattern value="[A-Za-z0-9]{3}20[0-9]{2}[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="vknTcknType">
		<xs:choice>
			<xs:element name="vkn" type="earsiv:vknType"/>
			<xs:element name="tckn" type="earsiv:tcknType"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="timeType">
		<xs:restriction base="xs:time">
			<xs:pattern value="(([01][0-9])|(2[0-3]))(:[0-5][0-9]){2}(\.[0-9]+)?"/>
			<xs:minInclusive value="00:00:00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="esuRaporType">
		<xs:sequence>
			<xs:element name="UUID" type="earsiv:uuidType"/>
			<xs:element name="plakaNo" type="xs:string"/>
			<!-- <xs:element name="sarjZamani" type="earsiv:sarjZamanType"/> -->
			<xs:element name="hizmetMiktari" type="earsiv:hizmetType"/>
			<xs:element name="toplamTutar">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="paraBirimi" type="earsiv:currencyCode"/>
			<xs:element name="aracKimlikNo" type="xs:string" minOccurs="0"/>
			<xs:element name="roamingHizmeti" type="earsiv:roamingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="esuAnlikRaporType">
		<xs:sequence>
			<xs:element name="UUID" type="earsiv:uuidType"/>
			<xs:element name="esuSeriNo" type="xs:string"/>
			<xs:element name="plakaNo" type="xs:string"/>
			<xs:element name="sarjZamani" type="earsiv:sarjZamanType"/>
			<xs:element name="hizmetBirimFiyati">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="hizmetMiktari" type="earsiv:hizmetType"/>
			<xs:element name="birimEnerjiFiyat">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="soketTipi" type="earsiv:electricityType"/>
			<xs:element name="toplamTutar">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="paraBirimi" type="earsiv:currencyCode"/>
			<xs:element name="aracKimlikNo" type="xs:string" minOccurs="0"/>
			<xs:element name="roamingHizmeti" type="earsiv:roamingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sarjZamanType">
		<xs:sequence>
			<xs:element name="baslamaZamani" type="earsiv:timeType"/>
			<xs:element name="bitisZamani" type="earsiv:timeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="uuidType">
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern
				value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="electricityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC"/>
			<xs:enumeration value="DC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="hizmetType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="unitCode"
					type="xs:string"
					use="required" />
			</xs:extension>
		</xs:simpleContent>	
	</xs:complexType>
	<xs:complexType name="roamingType">
		<xs:sequence>
			<xs:element name="vkn" type="xs:string"/>
			<xs:element name="unvan" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="currencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AED"/>
			<xs:enumeration value="AFN"/>
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="AMD"/>
			<xs:enumeration value="ANG"/>
			<xs:enumeration value="AOA"/>
			<xs:enumeration value="ARS"/>
			<xs:enumeration value="AUD"/>
			<xs:enumeration value="AWG"/>
			<xs:enumeration value="AZN"/>
			<xs:enumeration value="BAM"/>
			<xs:enumeration value="BBD"/>
			<xs:enumeration value="BDT"/>
			<xs:enumeration value="BGN"/>
			<xs:enumeration value="BHD"/>
			<xs:enumeration value="BIF"/>
			<xs:enumeration value="BMD"/>
			<xs:enumeration value="BND"/>
			<xs:enumeration value="BOB"/>
			<xs:enumeration value="BOV"/>
			<xs:enumeration value="BRL"/>
			<xs:enumeration value="BSD"/>
			<xs:enumeration value="BTN"/>
			<xs:enumeration value="BWP"/>
			<xs:enumeration value="BYN"/>
			<xs:enumeration value="BZD"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="CDF"/>
			<xs:enumeration value="CHE"/>
			<xs:enumeration value="CHF"/>
			<xs:enumeration value="CHW"/>
			<xs:enumeration value="CLF"/>
			<xs:enumeration value="CLP"/>
			<xs:enumeration value="CNY"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="COU"/>
			<xs:enumeration value="CRC"/>
			<xs:enumeration value="CUC"/>
			<xs:enumeration value="CUP"/>
			<xs:enumeration value="CVE"/>
			<xs:enumeration value="CZK"/>
			<xs:enumeration value="DJF"/>
			<xs:enumeration value="DKK"/>
			<xs:enumeration value="DOP"/>
			<xs:enumeration value="DZD"/>
			<xs:enumeration value="EGP"/>
			<xs:enumeration value="ERN"/>
			<xs:enumeration value="ETB"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="FJD"/>
			<xs:enumeration value="FKP"/>
			<xs:enumeration value="GBP"/>
			<xs:enumeration value="GEL"/>
			<xs:enumeration value="GHS"/>
			<xs:enumeration value="GIP"/>
			<xs:enumeration value="GMD"/>
			<xs:enumeration value="GNF"/>
			<xs:enumeration value="GTQ"/>
			<xs:enumeration value="GYD"/>
			<xs:enumeration value="HKD"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="HRK"/>
			<xs:enumeration value="HTG"/>
			<xs:enumeration value="HUF"/>
			<xs:enumeration value="IDR"/>
			<xs:enumeration value="ILS"/>
			<xs:enumeration value="INR"/>
			<xs:enumeration value="IQD"/>
			<xs:enumeration value="IRR"/>
			<xs:enumeration value="ISK"/>
			<xs:enumeration value="JMD"/>
			<xs:enumeration value="JOD"/>
			<xs:enumeration value="JPY"/>
			<xs:enumeration value="KES"/>
			<xs:enumeration value="KGS"/>
			<xs:enumeration value="KHR"/>
			<xs:enumeration value="KMF"/>
			<xs:enumeration value="KPW"/>
			<xs:enumeration value="KRW"/>
			<xs:enumeration value="KWD"/>
			<xs:enumeration value="KYD"/>
			<xs:enumeration value="KZT"/>
			<xs:enumeration value="LAK"/>
			<xs:enumeration value="LBP"/>
			<xs:enumeration value="LKR"/>
			<xs:enumeration value="LRD"/>
			<xs:enumeration value="LSL"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="LVL"/>
			<xs:enumeration value="LYD"/>
			<xs:enumeration value="MAD"/>
			<xs:enumeration value="MDL"/>
			<xs:enumeration value="MGA"/>
			<xs:enumeration value="MKD"/>
			<xs:enumeration value="MMK"/>
			<xs:enumeration value="MNT"/>
			<xs:enumeration value="MOP"/>
			<xs:enumeration value="MRU"/>
			<xs:enumeration value="MUR"/>
			<xs:enumeration value="MVR"/>
			<xs:enumeration value="MWK"/>
			<xs:enumeration value="MXN"/>
			<xs:enumeration value="MXV"/>
			<xs:enumeration value="MYR"/>
			<xs:enumeration value="MZN"/>
			<xs:enumeration value="NAD"/>
			<xs:enumeration value="NGN"/>
			<xs:enumeration value="NIO"/>
			<xs:enumeration value="NOK"/>
			<xs:enumeration value="NPR"/>
			<xs:enumeration value="NZD"/>
			<xs:enumeration value="OMR"/>
			<xs:enumeration value="PAB"/>
			<xs:enumeration value="PEN"/>
			<xs:enumeration value="PGK"/>
			<xs:enumeration value="PHP"/>
			<xs:enumeration value="PKR"/>
			<xs:enumeration value="PLN"/>
			<xs:enumeration value="PYG"/>
			<xs:enumeration value="QAR"/>
			<xs:enumeration value="RON"/>
			<xs:enumeration value="RSD"/>
			<xs:enumeration value="RUB"/>
			<xs:enumeration value="RWF"/>
			<xs:enumeration value="SAR"/>
			<xs:enumeration value="SBD"/>
			<xs:enumeration value="SCR"/>
			<xs:enumeration value="SDG"/>
			<xs:enumeration value="SEK"/>
			<xs:enumeration value="SGD"/>
			<xs:enumeration value="SHP"/>
			<xs:enumeration value="SLL"/>
			<xs:enumeration value="SOS"/>
			<xs:enumeration value="SRD"/>
			<xs:enumeration value="SSP"/>
			<xs:enumeration value="STD"/>
			<xs:enumeration value="SVC"/>
			<xs:enumeration value="SYP"/>
			<xs:enumeration value="SZL"/>
			<xs:enumeration value="THB"/>
			<xs:enumeration value="TJS"/>
			<xs:enumeration value="TMT"/>
			<xs:enumeration value="TND"/>
			<xs:enumeration value="TOP"/>
			<xs:enumeration value="TRY"/>
			<xs:enumeration value="TTD"/>
			<xs:enumeration value="TWD"/>
			<xs:enumeration value="TZS"/>
			<xs:enumeration value="UAH"/>
			<xs:enumeration value="UGX"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value="USN"/>
			<xs:enumeration value="USS"/>
			<xs:enumeration value="UYI"/>
			<xs:enumeration value="UYU"/>
			<xs:enumeration value="UZS"/>
			<xs:enumeration value="VEF"/>
			<xs:enumeration value="VND"/>
			<xs:enumeration value="VUV"/>
			<xs:enumeration value="WST"/>
			<xs:enumeration value="XAF"/>
			<xs:enumeration value="XAG"/>
			<xs:enumeration value="XAU"/>
			<xs:enumeration value="XBA"/>
			<xs:enumeration value="XBB"/>
			<xs:enumeration value="XBC"/>
			<xs:enumeration value="XBD"/>
			<xs:enumeration value="XCD"/>
			<xs:enumeration value="XDR"/>
			<xs:enumeration value="XFU"/>
			<xs:enumeration value="XOF"/>
			<xs:enumeration value="XPD"/>
			<xs:enumeration value="XPF"/>
			<xs:enumeration value="XPT"/>
			<xs:enumeration value="XSU"/>
			<xs:enumeration value="XTS"/>
			<xs:enumeration value="XUA"/>
			<xs:enumeration value="XXX"/>
			<xs:enumeration value="YER"/>
			<xs:enumeration value="ZAR"/>
			<xs:enumeration value="ZMK"/>
			<xs:enumeration value="ZWL"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
